body{
    font-family: helvetica, Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.72vw;
    background-color: rgba(215, 207, 238, 0.957);
}

html{
    scroll-behavior: smooth;
}
#logo{
    margin-right: 400px;
    padding: 6px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
    margin-left: 25px;
}

.sub-aside{
    background-color: rgba(186, 169, 240, 0.957);
    display: flex;
    flex-direction: column;
    width: 18.55vw;
    height: 422vh;
    border-right: 3px solid white;
    border-left: 3px solid white;
    left: 0;
}

.about-aside{
    background-color: rgba(186, 169, 240, 0.957);
    display: flex;
    flex-direction: column;
    width: 18.55vw;
    height: 100%;
    border-right: 3px solid white;
    left: 0;
}

.priv-aside{
    background-color: rgba(186, 169, 240, 0.957);
    display: flex;
    flex-direction: column;
    width: 18.55vw;
    min-height: 100vh;
    border-right: 3px solid white;
    border-left: 3px solid white;
    left: 0;
}

#skipto{
    position: fixed;
    top: 100;
    left:10 ;
    border: 2px solid white;
    border-radius: 25%;
    background-color: orange;
    z-index: 1000;
    width: 15vw;
}
.skip-to{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.30vw;
    font-weight: bold;
}
.skip-to a{
    text-decoration: none;
    color: black;

}

#footer-base{
    display: flex; 
    background-color: rgb(186, 169, 240);
    padding: 8px;
    margin: 0;
    width: 100vw;
    height: 10vh;
    border-top: 3px solid white;
    color: transparent;
    position: absolute;
    left: 0;

}

ul{
    margin: 0px;
}
img{
    border-radius: 100%;
}

#profilepic{
    border-radius: 30%;
    height: 150px;
    width: 120px;

}

#drawing{
    border-radius: 30%;
    height: 20vh;
    width: 30vw;
    align-items: left;
    margin-top: 5vh;
    padding: 2px;
}
h6{
    text-align: center;
    width: 22vw;
    margin-top: 10vh;    
    padding: 2px;
    align-items: right ;
}
body > header{
    background-color: rgb(88, 82, 82);
    color: white;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    
}

#nav_ul{
    display: flex;
}
#nav_ul > li{
    padding: 15px;  
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}
.navbutton{
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    border-radius: 30%;
    background-color:#8b7d7d;
    font-family: 'Times New Roman', Times, serif;
    
}

.navbutton:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px rgb(88, 82, 82) inset;
    color: aquamarine;
}

body > main article {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    border-radius: 15%;
    margin-top: 30px;
    padding: 40px;
}
body > main article h3{
    font-style: oblique;
}

#article-one > footer{
    border: 2px solid black;
    border-radius: 15%;
    text-align: left;
    padding: 8px;
    max-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}
#article-one h2{
    text-decoration: underline;
    text-align: left;
}

#guitar-pic{
    width: 18.25vw;
    height: 91.25vh;
    border-radius: 15%;
    display: flex;
    align-items: left;
    margin-top: 208vh;
    border: 2px solid black;
}


#article-two > header > h2{
    text-decoration: underline;
    font-weight: 100;
    font-style: oblique;
}
#article-two > main > blockquote{
    font-size: 48px;
    font-weight: bold;
    padding: 16px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20%;
    text-decoration: none;
}
#Abbey{
    background: linear-gradient(to right, 
    black 0%, black 12.5%, white 12.5%, white 25%, black 25%, black 37.5%,  white 37.5%, white 50%, black 50%, black 62.5%, white 62.5%, white 75%, black 75%,black 87.5%, white 87.5%,white 100%);
    border: 1px solid black;
    color: transparent;
}

#article-two a{
    text-decoration: none;
    color: black;
    margin-left:2vw;
}

#main-content{
    display: flex;
    justify-content: space-around;
}
#main-content > div{
    width: 70%;
}

h2{
    text-align: center;
}
#pic-place{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    
}
article > img{
    width: 20vw;
    height: 30vh;
    border-radius: 35%;
    border: 5px solid black;
    
}


body > footer{
    background-color: rgb(88, 82, 82);
    display: flex;
    height: 30vh;
}

body > footer > h2{
    text-shadow: 3px 3px 6px black;
    color: orange;
    font-style: oblique;
    display: flex;
    margin-top: 20vh;
}

#sub-footer{
    background-color: rgb(88, 82, 82);
    display: flex;
    color: orange;
    font-style: oblique;
    text-shadow: 3px 3px 6px black;
    padding: 10px;


}

#footer-ul{
    display: flex;
    list-style: none;
    text-shadow: 2px 2px 4px black;
    
}
#footer-ul > div > li{
    margin-left: 12px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 30%;
    background-color: grey;
    padding: 6px;
}
.element:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px rgb(88, 82, 82) inset;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}

#grid-header{
    grid-area: header;
    margin-top: 10vh;
}
#grid-img{
    grid-area: img;

    border-radius: 0%;
    height: 70vhpx;
    width: 15vw;
    padding: 15px;
}
.annoying-heads{
    text-align: center;
}
#grid-main{
    grid-area: main;
    padding: 15px;
}
#grid-footer{
    grid-area: footer;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}


#article-grid{
    display: grid;
    grid-template-areas: 
    "header header"
    "img main"
    "footer footer"
     ;
     grid-template-columns: 1fr 8fr;
}

#about-us-art h2{
    text-align: left;
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
}
#about-us-art p{
    text-align: center;
}

#privacy-policy{
    border: 1px solid black;
    padding: 40px;
    margin-top: 30px;
    border-radius: 15%;
    width: 60vw;
}

#funtimes{
    background-color: hotpink;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0%;
}
.flower {
    position: relative;
    width: 100px;
    height: 100px;
  }
  


